<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerlinks}}
</head>
<body>
         {{>navbar}}

        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="main_content">
                        <form action="" class="temp_form">
                            <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                            <input type="submit" value="search" id="submitBtn">
                        </form>
                    </div>

                    <div class="tempInformation">
                        <div class="top_layer">
                            <p id="day">Saturday</p>
                            <p id="today_date">18 Dec</p>
                        </div>
                        <div class="main_layer">
                            <p id="city_name">Get Output Here</p>
                            <div class="middle_layer data_hide">
                                <p id="temp"><span id="temp_real_val">0</span> <sup>o</sup>C</p>
                                <p id="temp_status"><i class="fas fa-cloud"></i></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>  

        {{>footer}}

        <script src="js/main.js"></script>
        <script>

            const getCurrentday = () =>{
                let weekday = new Array(7);
                weekday[0] = "Sunday";
                weekday[1] = "Monday";
                weekday[2] = "Tuesday";
                weekday[3] = "Wednesday";
                weekday[4] = "Thursday";
                weekday[5] = "Frieday";
                weekday[6] = "Saturaday";

                let curentTime = new Date();
                days = weekday[curentTime.getDay()];
                let day = document.getElementById("day");
                day.innerText = days;

            }

            const getCurrentTime = () => {
                let months = [
                    "Jan",
                    "Feb",
                    "Mar",
                    "Apr",
                    "May",
                    "June",
                    "July",
                    "Aug",
                    "Sept",
                    "Oct",
                    "Nov",
                    "Dec",
                ];
                
                let now = new Date();
                let hours = now.getHours();
                let mins = now.getMinutes();

                let month = months[now.getMonth()];
                let date = now.getDate();

                let period = "am";
                if(hours > 11) {
                    period = "pm";
                    if(hours >12) hours -= 12;
                }
                if(mins < 10){
                    mins = "0" + mins;
                }

                let currDate = `${month} ${date} | ${hours}:${mins}:${period}`;

                let today_date = document.getElementById("today_date");
                today_date.innerText =  currDate;
            };

            getCurrentTime();
            getCurrentday();
        </script>

</body>
</html>